.portfolio{
    display: flex;
    flex-wrap: wrap;
}

.portfolio_item{
    width: 25%;
}

.portfolio_item_content{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
    border-radius: 1rem;
    overflow: hidden;
    margin: 25px;
    transition: box-shadow 0.3s ease-in-out;
}

.portfolio_item_content:hover{
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,.1), 0 10px 10px -5px rgba(0,0,0,.04);
}

.portfolio_item_content .item_info_container{
    padding: 10px;
}

.portfolio_item_content .item_info_container h3{
    margin-top: 10px;
    margin-bottom: 0px;
}

.portfolio_item_content .services{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    margin: 0 0 15px 0;
    padding: 0 10px;
}

.portfolio_item_content .services img{
    width: 35px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer;
}

.portfolio_item_content .item_footer{
    text-align: center;
    justify-content: center;
    box-shadow: inset 0px 20px 5px 73px #ececec;
    border-top: 1px solid #e6e4e4;
    padding: 8px 0;
}

.portfolio_item_content .item_footer a{
    font-weight: 600;
    text-decoration: none;
    color: #adadad;
    text-transform: uppercase;
    font-size: 12px;
}

.portfolio_item_content .item_footer .item_footer_icon{
    width: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.portfolio_item_content .item_footer a:hover{
    color: #999;
}

.portfolio-div .icons-selected{
    position: fixed;
    right: 0;
    width: 100%;
    bottom: 0;
    z-index: 9999;
    padding: 20px;
    text-align: right;
}

.portfolio-div .icons-selected img{
    width: auto;
    height: 100px;
    filter: drop-shadow(2px 2px 0 white)
                drop-shadow(-2px 2px 0 white)
                drop-shadow(2px -2px 0 white)
                drop-shadow(-2px -2px 0 white);
}

.portfolio-div .icons-selected .icons-remove img{
    position: absolute;
    top: -20px;
    right: 25px;
    width: 25px;
}